/* upload widgets */
.progress {
    margin-top: 20px;
}

.uploaded-files {
    margin-top: 20px;
    clear: both;
    display: block !important;
}

.uploaded-files .editable {
    height: 30px;
    min-width: 200px;
}

.imagewidget .select-image {
    display: none;
}

.imagewidget.empty .select-image {
    display: block;
}

.imagewidget.empty .delete-image, .imagewidget.empty .replace-image {
    display: none;
}