<div class="relate">
  <div class="multiple-search">
    <input type="search" id="id-{{ name }}" name="{{ name }}" 
           class="autocomplete"
           data-search_minlength="{{ search_minlength }}"
           data-search_url="{{ search_url }}"
           placeholder="{{ hint }}">
    <button class="submit">{% trans "Voeg toe" %}</button>
    <div class="searchresults ui-front">
    </div>
  </div>
  <ul>
    {% for related in value %}
    <li>
      <a href="#">{{ related }}</a> 
      <a href="#" class="delete">{% trans "Remove" %}</a>
    </li>
    {% endfor %}
  </ul>
</div>
